#background {
  /*background-image: url(https://static.wikia.nocookie.net/dragonball/images/5/50/Wiki-background/revision/latest);*/
  /*background-image: url(https://vvnzheng.github.io/art101/lab10/index.html);*/
  /* background-image: url("../img/BGMerge.png"); */
  background-image: url("../img/finaldesign.png");

  position: relative;

  /* background-image: url("../img/ramenShopBGtable.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  /* position: fixed; */
  /* background-size: auto; */
  /* padding: 500px 100px; */
}


.layout{
  border: 3px solid #73AD77;
  padding-top:  2%;
  padding-left: 4%;
  padding-right: 4%;
}

img.building{
  border: 3px solid #73AD00;
  display: block;
  resize: both;
  position: relative;
  margin: auto;
  margin-top: 50px;
  width: 65%;
}

button#create{
  background-color: #4CAF50;
  /* background-color: transparent; */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
    cursor: pointer;
    resize: both;

    display: inline;
    background-image: url("../img/Flap1.png");
    background-repeat: no-repeat;
    background-size: contain;
    top: 25%;
    left: 31%;
    width: 5.5%;
    height: 20%;
    position: absolute;

}

button#random{
  background-color: #4CAF50;
  /* background-color: transparent; */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
    cursor: pointer;
    resize: both;

    display: inline;
    background-image: url("../img/Flap2.png");
    background-repeat: no-repeat;
    background-size: contain;
    top: 25%;
    left: 47%;
    width: 5.5%;
    height: 20%;
    position: absolute;

}

button#reset{
  background-color: #4CAF50;
  /* background-color: transparent; */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
    cursor: pointer;
    resize: both;

    display: inline;
    background-image: url("../img/Flap3.png");
    background-repeat: no-repeat;
    background-size: contain;
    top: 25%;
    left: 64%;
    width: 5.5%;
    height: 20%;
    position: absolute;

}


div#output{
border: 3px solid #73AD00;
background-image: url("../img/emptyRamenBowl.png");
background-repeat: no-repeat;
background-size: contain;
top: 400px;
left: 40%;
width: 200px;
height: 160px;
position: fixed;
/* position: absolute; */
}

img.noodle{
  width: 100%;
  /* top: 10px; */
  /* transform: translate(0px, -10px); */
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  /* z-index: 0; */
}

img.topping{
  width: 40%;
  /* top: 10px; */
  /* transform: translate(0px, -10px); */
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  /* z-index: 0; */
}

img#topping1{
  left: 100px;
}

img#topping2{
  left: 50px;
}


div#history{
  /* border: 3px solid #73AD00; */
  border: transparent;
  position: absolute;
  /* left: 1%; */
  top: 5%;
  left: 5%;
  width: 12%;
  height: 85%;
  position: absolute;
  /* width: 120px;
  height: 600px; */
  background-image: url("../img/HistoryBanner.png");
  background-repeat: no-repeat;
  background-size: contain;

}

p#history{
/* border: 3px solid #73AD21; */
/* border: transparent; */
width: 70%;
height: 58%;
position: absolute;
top: 3%;
left: 7%;
/* left: 8%; */
display: inline-block;
overflow: hidden;
color: white;
scroll-behavior: smooth;
overflow: scroll;

}

div#health{
  /* border: 3px solid #73AD00; */
  border: transparent;
  position: absolute;
  /* left: 1%; */
  top: 5%;
  right: 3%;
  width: 12%;
  height: 85%;
  position: absolute;
  /* width: 120px;
  height: 600px; */
  background-image: url("../img/HealthBanner.png");
  background-repeat: no-repeat;
  background-size: contain;

}

p#health{
/* border: 3px solid #73AD21; */
/* border: transparent; */
width: 68%;
height: 55%;
position: absolute;
top: 3%;
right: 6%;
display: inline-block;
overflow: hidden;
color: white;
scroll-behavior: smooth;
overflow: scroll;

}


img#topping3{
  left: 100px;
}

img#topping4{
  left: 100px;
}

img#topping5{
  left: 100px;
}

img#topping6{
  left: 100px;
}

img#topping7{
  left: 100px;
}

img#topping8{
  left: 100px;
}

img#topping9{
  left: 100px;
}

img#topping10{
  left: 100px;
}

img#topping11{
  left: 100px;
}

img#topping12{
  left: 100px;
}

img#topping13{
  left: 100px;
}

img#topping14{
  left: 100px;
}

img#topping15{
  left: 100px;
}

img#topping16{
  left: 100px;
}

img#topping17{
  left: 100px;
}
img#topping18{
  left: 100px;
}

img#topping19{
  left: 100px;
}

img#topping20{
  left: 100px;
}

img#topping21{
  left: 100px;
}

img#topping22{
  left: 100px;
}

img#topping23{
  left: 100px;
}

img#topping24{
  left: 100px;
}
img#topping25{
  left: 100px;
}

img#topping26{
  left: 100px;
}

img#topping27{
  left: 100px;
}

img#topping28{
  left: 100px;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px grey;
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: red; */
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: #b30000; */
}
