
#background {
  /*background-image: url(https://static.wikia.nocookie.net/dragonball/images/5/50/Wiki-background/revision/latest);*/
  /*background-image: url(https://vvnzheng.github.io/art101/lab10/index.html);*/
  /* background-image: url("../img/BGMerge.png"); */
  /* background-image: url("../img/finaldesign.png"); */

  position: relative;

  /* background-image: url("../img/ramenShopBGtable.png"); */
  /* background-repeat: no-repeat; */
  background-size: cover;
  /* position: fixed; */
  background-size: auto;
  /* padding: 500px 100px; */
}

#background .stonepath {
  background-image: url("../img/stonePath.png");
    border: 3px solid #73AD77;
  position: absolute;
  top: 90%;
  width: auto;
  height: 200%;
  z-index: -1;
  margin: auto;
    resize: both;
    overflow: hidden;
}

img.menu {
  width: 80%;
  height: auto;
  display: block;
  resize: both;
  margin: auto;
  margin-top: 48px;
  object-fit:  contain;
  position: absolute;
  top: 20%;
/* margin: 50 0 0 -100px; */

  overflow: hidden;

}

#background .DirtGround {
  position: absolute;
  top: 75%;
  width: 100%;
  height: 18%;
  z-index: 0;
  margin: auto;
    resize: both;
}
#background .wallbackground {
  position: absolute;
  top: 45%;
  width: 100%;
  z-index: -2;
  margin: auto;
    resize: both;
}
#background .starrySky {
  position: absolute;
  top: 0;
  width: 100%;
  max-height: 50%;
  z-index: -4;
  margin: auto;
  resize: both;
}



.layout{
  /* border: 3px solid #73AD77; */
  padding-top:  2%;
  padding-left: 4%;
  padding-right: 4%;
}



img.building{
  /* border: 3px solid #73AD00; */
  display: block;
  resize: both;
  position: relative;
  margin: auto;
  margin-top: 50px;
  width: 65%;
}

button#create{
  /* background-color: #4CAF50; */
  background-color: transparent;
    border: none;
    font-family: 'Open Sans Condensed';
    font-style: normal;
    text-align: center;

    -webkit-text-stroke: 1px #fbda6f;
       color: white;
       text-shadow:
           2px 1px 0 #000,
         -1px -1px 0 #000,
          1px -1px 0 #000,
          -1px 1px 0 #000,
           1px 1px 0 #000;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
    cursor: pointer;


    display: block;
    resize: both;
    margin: auto;
    margin-top: 48px;


    /* display: inline; */
    background-image: url("../img/flapping.gif");
    background-repeat: no-repeat;
    background-size: contain;
  top: 18%;
    left: 26%;
    width: 6.5%;
    height: 22%;
    position: absolute;

}

button#random{
  /* background-color: #4CAF50; */
  background-color: transparent;
    border: none;
    font-family: 'Open Sans Condensed';
    font-style: normal;
    text-align: center;

    -webkit-text-stroke: 1px #fbda6f;
       color: white;
       text-shadow:
           2px 1px 0 #000,
         -1px -1px 0 #000,
          1px -1px 0 #000,
          -1px 1px 0 #000,
           1px 1px 0 #000;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
    cursor: pointer;
    display: block;
    resize: both;
    margin: auto;
    margin-top: 48px;

    background-image: url("../img/flapping.gif");
    background-repeat: no-repeat;
    background-size: contain;
    top: 18%;
      left: 32%;
      width: 6.5%;
      height: 22%;
    position: absolute;

}

button#placeholder2{
  /* background-color: #4CAF50; */
  background-color: transparent;
    border: none;
    font-family: 'Open Sans Condensed';
    font-style: normal;
    text-align: center;

    -webkit-text-stroke: 1px #fbda6f;
       color: white;
       text-shadow:
           2px 1px 0 #000,
         -1px -1px 0 #000,
          1px -1px 0 #000,
          -1px 1px 0 #000,
           1px 1px 0 #000;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
    cursor: pointer;
    display: block;
    resize: both;
    margin: auto;
    margin-top: 48px;

    background-image: url("../img/flapping.gif");
    background-repeat: no-repeat;
    background-size: contain;
  top: 18%;
    left: 38%;
    width: 6.5%;
    height: 22%;
    position: absolute;

}

button#placeholder3{
  /* background-color: #4CAF50; */
  background-color: transparent;
    border: none;
    font-family: 'Open Sans Condensed';
    font-style: normal;
    text-align: center;

    -webkit-text-stroke: 1px #fbda6f;
       color: white;
       text-shadow:
           2px 1px 0 #000,
         -1px -1px 0 #000,
          1px -1px 0 #000,
          -1px 1px 0 #000,
           1px 1px 0 #000;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
    cursor: pointer;

    display: block;
    resize: both;
    margin: auto;
    margin-top: 48px;

    background-image: url("../img/flapping.gif");
    background-repeat: no-repeat;
    background-size: contain;
  top: 18%;
    left: 56%;
    width: 6.5%;
    height: 22%;
    position: absolute;

}

button#reset{
  /* background-color: #4CAF50; */
  background-color: transparent;
    border: none;
    font-family: 'Open Sans Condensed';
    font-style: normal;
    text-align: center;

    -webkit-text-stroke: 1px #fbda6f;
       color: white;
       text-shadow:
           2px 1px 0 #000,
         -1px -1px 0 #000,
          1px -1px 0 #000,
          -1px 1px 0 #000,
           1px 1px 0 #000;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
    cursor: pointer;

    display: block;
    resize: both;
    margin: auto;
    margin-top: 48px;


    background-image: url("../img/flapping.gif");
    background-repeat: no-repeat;
    background-size: contain;
    top: 18%;
      left: 62%;
      width: 6.5%;
      height: 22%;
    position: absolute;

}

button#placeholder{
  /* background-color: #4CAF50; */
  background-color: transparent;
    border: none;
    font-family: 'Open Sans Condensed';
    font-style: normal;
    text-align: center;

    -webkit-text-stroke: 1px #fbda6f;
       color: white;
       text-shadow:
           2px 1px 0 #000,
         -1px -1px 0 #000,
          1px -1px 0 #000,
          -1px 1px 0 #000,
           1px 1px 0 #000;
    text-decoration: none;
    display: inline-block;
    font-size: 1vh;
    cursor: pointer;

    display: block;
    resize: both;
    margin: auto;
    margin-top: 48px;

    background-image: url("../img/flapping.gif");
    background-repeat: no-repeat;
    background-size: contain;
  top: 18%;
    left: 68%;
    width: 6.5%;
    height: 22%;
    position: absolute;

}

div#output{
border: 3px solid #73AD00;
background-image: url("../img/bowl_1.png");
background-repeat: no-repeat;
background-size: contain;
top: 34%;
left: 44.5%;
width: 12%;
height: 20%;
position: absolute;

display: block;
resize: both;
margin: auto;
margin-top: 48px;

}

img#lantern1 {
  top: 15%;
    left: 18%;
  position: absolute;

  display: block;
  resize: both;
  margin: auto;
  margin-top: 48px;
  z-index: 2;
}

img#lantern2 {
  top: 15%;
    left: 74%;
  position: absolute;

  display: block;
  resize: both;
  margin: auto;
  margin-top: 48px;
  z-index: 2;
}

img.noodle{
  width: 100%;
  /* top: 10px; */
  /* transform: translate(0px, -10px); */
  position: absolute;
  top: -30px;
  left: -20px;
  visibility: hidden;
  /* z-index: 0; */
}

img.broth{
  width: 100%;
  /* top: 10px; */
  /* transform: translate(0px, -10px); */
  position: absolute;
  top: -30px;
  left: -20px;
  visibility: hidden;
  /* z-index: 0; */
}

img.topping{
  width: 40%;
  /* top: 10px; */
  /* transform: translate(0px, -10px); */
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  /* z-index: 0; */
}


div#history{

  border: transparent;
  position: absolute;

  top: 1%;
  left: 5%;
  width: 12%;
  height: 85%;
  position: absolute;

  display: block;
  resize: both;
  margin: auto;
  margin-top: 50px;

  background-image: url("../img/HistoryBanner.png");
  background-repeat: no-repeat;
  background-size: contain;

}

p#history{
  font-family: 'Open Sans Condensed';
  font-style: normal;
text-align: center;
font-size: 2vh 2vw;
/* text-size: 20%; */

-webkit-text-stroke: 1px #fbda6f;
   color: white;
   text-shadow:
       2px 1px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;

width: 70%;
height: 58%;
position: absolute;
top: 3%;
left: 5%;


display: inline-block;
overflow: hidden;
scroll-behavior: smooth;
overflow: scroll;

}

div#health{

  border: transparent;

  top: 1%;
  right: 3%;
  width: 12%;
  height: 85%;
  position: absolute;

  display: block;
  resize: both;
  margin: auto;
  margin-top: 50px;

  background-image: url("../img/HealthBanner.png");
  background-repeat: no-repeat;
  background-size: contain;

}

p#health{
  font-family: 'Open Sans Condensed';
  font-style: normal;
  text-align: center;
  font-size: 2vh 2vw;

  -webkit-text-stroke: 1px #fbda6f;
     color: white;
     text-shadow:
         2px 1px 0 #000,
       -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000;

width: 68%;
height: 55%;
position: absolute;
top: 3%;
right: 6%;
display: inline-block;
overflow: hidden;
color: white;
scroll-behavior: smooth;
overflow: scroll;

}



img#topping1{
  left: 100px;
}

img#topping2{
  left: 50px;
}

img#topping3{
  left: 100px;
}

img#topping4{
  left: 100px;
}

img#topping5{
  left: 100px;
}

img#topping6{
  left: 100px;
}

img#topping7{
  left: 100px;
}

img#topping8{
  left: 100px;
}

img#topping9{
  left: 100px;
}

img#topping10{
  left: 100px;
}

img#topping11{
  left: 100px;
}

img#topping12{
  left: 100px;
}

img#topping13{
  left: 100px;
}

img#topping14{
  left: 100px;
}

img#topping15{
  left: 100px;
}

img#topping16{
  left: 100px;
}

img#topping17{
  left: 100px;
}
img#topping18{
  left: 100px;
}

img#topping19{
  left: 100px;
}

img#topping20{
  left: 100px;
}

img#topping21{
  left: 100px;
}

img#topping22{
  left: 100px;
}

img#topping23{
  left: 100px;
}

img#topping24{
  left: 100px;
}
img#topping25{
  left: 100px;
}

img#topping26{
  left: 100px;
}

img#topping27{
  left: 100px;
}

img#topping28{
  left: 100px;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px grey;
  border-radius: 0px;
  width: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: red; */
  border-radius: 0px;
  width: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: #b30000; */
}
